<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) devfoFikiCar - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by Filip Obradović <fiki.obradovic@gmail.com> 2021
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devoFikiCar.ndp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".StatisticsSpecificTeacher"></activity>
        <activity android:name=".StatisticsSpecificStudent" />
        <activity android:name=".TaskEditorStudent" />
        <activity android:name=".TaskListStudent" />
        <activity android:name=".AssignmentsStudent" />
        <activity android:name=".CreateAssignmentTeacher" />
        <activity android:name=".AssignmentsTeacher" />
        <activity android:name=".StudentViewLecture" />
        <activity android:name=".CreateLectureTeacher" />
        <activity android:name=".LecturesTeacher" />
        <activity android:name=".LecturesStudents" />
        <activity android:name=".LectureAssignment" />
        <activity android:name=".ClassesStudent" />
        <activity android:name=".ClassesTeacher" />
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Info" />
        <activity android:name=".PlaygroundL" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>